@import "tailwindcss";

.sticky-container {
  align-items: flex-start;
  height: 400lvh;
}

.sticky-content {
  perspective: 1000px;
  perspective-origin: 50%;
  transform-style: preserve-3d;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100lvh;
  width: 100%;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100lvh;
  border-top: 1px dotted var(--red);
  border-bottom: 1px dotted var(--red);
}

section.spacer {
  min-height: 50lvh;
}

h2 {
  font-family: ui-monospace, monospace;
  font-size: min(5vw, 24px);
  max-width: 1000px;
}

.section-content {
  transform-style: preserve-3d;
  display: flex;
  width: 100%;
  height: 100lvh;
  justify-content: center;
}

.stack {
  --w: 22.5vh;
  --h: 30vh;
  position: relative;
  flex-grow: 0;
  flex-shrink: 0;
  transform-style: preserve-3d;
  width: calc(var(--w) * 1);
  height: calc(var(--h) * 1);
  will-change: transform;
}

.card {
  transform-style: preserve-3d;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  transform-origin: 50% 105% 0px;
  box-shadow: 0 0.125em 0.75em 1px rgba(0, 0, 0, 0.05),
    0 0 0.125em 1px rgba(0, 0, 0, 0.1);
}

.card > div {
  transform-style: preserve-3d;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  border-radius: inherit;
}

.back {
  z-index: 0;
  background-image: url(https://assets.codepen.io/1137/card-back.svg);
  transform: rotateY(180deg);
  background-color: var(--white);
}

.front {
  z-index: 1;
  backface-visibility: hidden;
  background-image: url(https://assets.codepen.io/1137/card.svg);
  background-color: var(--white);
  background-size: 89%;
  background-repeat: no-repeat;
}

.section_1,
.section_2,
.section_3 {
  width: 100%;
  height: 100vh;
}
.cont-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}
.section_2 {
  overflow: hidden;
}

.section_2 h1 {
  font-size: 3rem;
  line-height: 42px;
  padding-bottom: 2rem;
  color: #1f1f1f;
}
.content {
  max-width: 40ch;
  padding: 3rem;
  flex-grow: 1;
}

.images {
  height: 100vh;
  display: flex;
  align-items: center;
  -webkit-mask: linear-gradient(transparent, white 10%, white 85%, transparent);
  mask: linear-gradient(transparent, white 10%, white 85%, transparent);
}

.images .left,
.right {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 2rem;
}
.img {
  width: 14rem;
  height: 22rem;
  border-radius: 16px;
}
.right {
  margin-top: 40rem;
}

.right .img:nth-child(1) {
  background-image: url("https://images.unsplash.com/photo-1682687220801-eef408f95d71?q=80&w=1374&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  background-repeat: no-repeat;
}
.right .img:nth-child(2) {
  background-image: url("https://images.unsplash.com/photo-1694111356884-45781a164220?q=80&w=1374&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  background-repeat: no-repeat;
}
.right .img:nth-child(3) {
  background-image: url("https://images.unsplash.com/photo-1699302150582-bffc5309a8c8?q=80&w=1631&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  background-repeat: no-repeat;
}
.right .img:nth-child(4) {
  background-image: url("https://images.unsplash.com/photo-1699190459864-173c0552757d?q=80&w=1376&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  background-repeat: no-repeat;
}
.right .img:nth-child(5) {
  background-image: url("https://images.unsplash.com/photo-1691513218992-a8ee49db259a?q=80&w=1528&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  background-repeat: no-repeat;
}

.left .img:nth-child(1) {
  background-image: url("https://images.unsplash.com/photo-1691418173358-492743391cf5?q=80&w=1374&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  background-repeat: no-repeat;
}

.left .img:nth-child(2) {
  background-image: url("https://images.unsplash.com/photo-1694734479899-cdcf2c1bcf0f?q=80&w=1374&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  background-repeat: no-repeat;
}
.left .img:nth-child(3) {
  background-image: url("https://images.unsplash.com/photo-1695068546554-b12820bc827d?q=80&w=1494&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  background-repeat: no-repeat;
}
.left .img:nth-child(4) {
  background-image: url("https://plus.unsplash.com/premium_photo-1691122958941-bc4035670842?q=80&w=1374&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  background-repeat: no-repeat;
}
.left .img:nth-child(5) {
  background-image: url("https://images.unsplash.com/photo-1696418800218-6f3bb0975d3b?q=80&w=1386&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  background-repeat: no-repeat;
}
